.App {
    --header_height: 60px;

}
.hw {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
}
.hw > div{
}
.container {
    margin: 0 auto;
    width: 1200px;
}

.hwTitle {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}

.messageWindow {
    align-content: flex-start;
    display: grid;
    row-gap: 45px;
}